.card
{
  background-color: #424242;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 1.5rem;
  border-radius: 0;
  width: 90%;
}

.card-body
{
  flex: 1 1 auto;
  padding: 1.25rem;
}

.item_caseId
{
  font-size: 18px;
  font-weight: 600;
}

.item_price
{
  font-weight: 500;
  position: absolute;
  left: 10px;
  bottom: 65px;
}

.item_wear
{
  font-weight: 500;
  position: absolute;
  right: 10px;
  bottom: 65px;
}

.loader-spin
{
  border-top: 5px solid #1F9BCF;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin
{
  0%
  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%
  {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-text
{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  width: 500px;
  height: 50px;
  left: 50%;
  top: 33%;
  margin-left: -100px;
  margin-top: 70px;
}

@-webkit-keyframes up
{
  0%, 100%
  {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50%
  {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@keyframes up
{
  0%, 100%
  {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50%
  {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
}

@-webkit-keyframes down
{
  0%, 100%
  {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50%
  {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@keyframes down
{
  0%, 100%
  {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50%
  {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@-webkit-keyframes r-to-l
{
  100%
  {
    margin-left: -1px;
  }
}

@keyframes r-to-l
{
  100%
  {
    margin-left: -1px;
  }
}

.pacman:before, .pacman:after
{
  content: '';
  position: absolute;
  background: #FFC107;
  width: 100px;
  height: 50px;
  left: 50%;
  top: 33%;
  margin-left: -100px;
  margin-top: -50px;
  border-radius: 50px 50px 0 0;
  -webkit-animation: up 0.4s infinite;
  animation: up 0.4s infinite;
}

.pacman:after
{
  margin-top: -1px;
  border-radius: 0 0 50px 50px;
  -webkit-animation: down 0.4s infinite;
  animation: down 0.4s infinite;
}

.dot
{
  position: absolute;
  left: 49%;
  top: 33%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: 30px;
  border-radius: 50%;
  background: #ccc;
  z-index: -1;
  box-shadow: 30px 0 0 #ccc, 60px 0 0 #ccc, 90px 0 0 #ccc, 120px 0 0 #ccc, 150px 0 0 #ccc;
  -webkit-animation: r-to-l 0.4s infinite;
  animation: r-to-l 0.4s infinite;
}

.spinner
{
  width: 1200px !important;
  height: 170px;
  border: 2px solid #1a1a1a;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: #1a1a1a;
  margin-left: 15px;
}

.spinner-pointer
{
  position: absolute;
  width: 3px;
  height: 100%;
  left: calc(50%);
  background-color: #FFFFFF;
  z-index: 999;
}

#spinner-items
{
  height: 100%;
  white-space: nowrap;
  transition: none;
  -webkit-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
}

.spinner-item
{
  display: inline-block;
  height: calc(100% - 20px);
  margin: 10px 0;
  background-color: #1a1a1a;
  box-sizing: border-box;
}

.spinner-item img
{
  height: 100%;
  -webkit-filter: drop-shadow(-1px 1px 1px #000) brightness(120%);
  filter: drop-shadow(0 0 0 rgba(255,255,255,.3)) drop-shadow(-1px 1px 1px black) brightness(120%)!important;
}

.case-opening-card
{
  width: 100%;
}

@media (min-width: 1200px)
{
  .container
  {
    max-width: 1225px;
  }
}
