<div class=" opening_area">
  <div class="row" style="margin-bottom: 30px;">
     <div class="col-xl-10 text-center">
        <h2 class="text-white" style="margin-top: 10px;">Kisten des Handels #{{offerId}}</h2>
     </div>
     <div class="col-xl-2">
       <button type="button" class="btn btn-block" ngxClipboard [cbContent]="url_share" (cbOnSuccess)="isCopied = true" [class.btn-info]="!isCopied" [class.btn-success]="isCopied">Teilen</button>
     </div>
  </div>
  <div class="row" style="margin-bottom: 40px;" *ngIf="hasCasesToOpen">
     <div class="col-xl-12">
        <div class="spinner">
           <div class="spinner-pointer"></div>
           <div id="spinner-items">
             <div class="spinner-item" [style.border]="convertToHex(spin_item.color)" *ngFor="let spin_item of spinner_items">
               <img src="{{spin_item.image['300px']}}">
             </div>
          </div>
       </div>
     </div>
  </div>

  <div *ngIf="!hasCasesToOpen">
     <div class="pacman"></div>
     <div class="dot"></div>
     <span class="loader-text">Generiere deine Gegenstände</span>
  </div>
  <div class="container">
     <div class="row" *ngIf="hasCasesToOpen">
        <div class="col-lg-3" *ngFor="let item of casesToOpen.items">
           <div class="card text-white bg-primary case-opening-card">
              <div class="card-header text-center">          <span class="item_caseId header_anim">Kiste #{{item.caseId}}</span>        </div>
              <img class="card-img-top opening-image pointer unboxing-image" src="{{ caseImage }}" *ngIf="!item.opened">        <img class="card-img-top opening-image pointer unboxing-image" src="{{ item.image['300px'] }}" *ngIf="item.opened">        <span class="item_price price_anim" *ngIf="item.opened">{{ (item.suggested_price/100) | currency:'USD'}}</span>        <span class="item_wear price_anim" *ngIf="item.opened">Float: {{ item.wear | number:'0.1-4' }}</span>
              <div class="card-footer text-muted price_anim" *ngIf="item.opened">
                <span>{{item.name}}</span>
              </div>
              <div class="card-footer text-muted" *ngIf="!item.opened && isOwner">
                <button type="button" class="btn btn-outline-secondary btn-block" (click)="openCase(item.caseId)" id="open_{{item.caseId}}">Öffnen</button>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
