.pointer {
  cursor: pointer;
}

.pre-spinner
{
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.pre-spinner .pre-ball
{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.preloader
{
  color: #fff;
  margin-top: 5px;
  font-family: sans-serif;
  letter-spacing: 3px;
  font-size: 16px;
  text-align: center;
}

@-webkit-keyframes motion
{
  0%
  {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }

  25%
  {
    -webkit-transform: translateX(-50px) scale(0.3);
    transform: translateX(-50px) scale(0.3);
  }

  50%
  {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }

  75%
  {
    -webkit-transform: translateX(50px) scale(0.3);
    transform: translateX(50px) scale(0.3);
  }

  100%
  {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
}

@keyframes motion
{
  0%
  {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }

  25%
  {
    -webkit-transform: translateX(-50px) scale(0.3);
    transform: translateX(-50px) scale(0.3);
  }

  50%
  {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }

  75%
  {
    -webkit-transform: translateX(50px) scale(0.3);
    transform: translateX(50px) scale(0.3);
  }

  100%
  {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
}

body
{
  margin: 0;
  background: rgba(0,0,0,.875);
  overflow: hidden;
}

.card
{
  box-shadow: 3px 0 12px 0 rgba(0,0,0,.6);
}

@media (min-width: 992px)
{
  .modal-lg
  {
    max-width: 1200px !important;
  }
}

.modal-body-itemsincase
{
  background: #343a40;
}

.card-itemsincase
{
  height: 355px;
  width: auto;
}

::-webkit-scrollbar-track
{
  background-color: #1a1a1a;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #979797;
}

.image-test
{
  height: 140px;
  width: auto;
  position: absolute;
  left: calc(100% - 270px);
  top: calc(100% - 170px);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: image_ani 0.4s ease forwards;
  animation: image_ani 0.4s ease forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.img-animation
{
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .5s, 3s;
  animation-duration: .5s, 3s;
  -webkit-animation-delay: 0s, .5s;
  animation-delay: 0s, .5s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@-webkit-keyframes hvr-hang
{
  0%
  {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  50%
  {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100%
  {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes hvr-hang
{
  0%
  {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  50%
  {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100%
  {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@-webkit-keyframes hvr-hang-sink
{
  100%
  {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  };
}

@keyframes hvr-hang-sink
{
  100%
  {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  };
}

.recentUnboxing
{
  width: 0%;
  -webkit-animation: recent_ani 0.4s ease forwards;
  animation: recent_ani 0.4s ease forwards;
}

@-webkit-keyframes recent_ani
{
  0%
  {
    width: 0%;
  }

  100%
  {
    width: 100%;
  }
}

@keyframes recent_ani
{
  0%
  {
    width: 0%;
  }

  100%
  {
    width: 100%;
  }
}

.unboxing-image
{
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: image_ani 0.4s ease forwards;
  animation: image_ani 0.4s ease forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes image_ani
{
  100%
  {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100%
  {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes image_ani
{
  100%
  {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100%
  {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.header_anim
{
  opacity: 0;
  -webkit-animation: header_ani 1s ease forwards;
  animation: header_ani 1s ease forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes header_ani
{
  to
  {
    opacity: 1;
  }
}

@keyframes header_ani
{
  to
  {
    opacity: 1;
  }
}

.price_anim
{
  opacity: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-animation: price_ani 0.4s ease forwards;
  animation: price_ani 0.4s ease forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes price_ani
{
  100%
  {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100%
  {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes price_ani
{
  100%
  {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100%
  {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}


@media (min-width: 576px) {
  .modal-dialog {
      max-width: 600px;
      margin: 1.75rem auto;
  }
}

.affiliate {
  font-size: 17px;
}

.affiliate-statistic {
  font-size: 30px;
  color: #000;
}


.opening_area
{
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 150px);
}
