<div class="modal-body" *ngIf="loading" style="height:480px;">
  <div class="pre-spinner">
    <div class="pre-ball" style="background-color:#000;"></div>
    <p class="preloader" style="color:#000;">Lade</p>
  </div>
</div>

<div class="modal-body" *ngIf="!loading">
   <h3>Affiliates</h3>
   <hr>
   <p class="text-center">Das Affiliates-System belohnt dich mit 0.15$ pro geöffneter Kiste.<br>
     Dieses Guthaben wird dir direkt auf dein OPSkins Konto überwiesen. <br>
     Also Los! Verbreite deinen persönlichen Affiliates Code.
   </p>
   <hr>
   <div class="row affiliate text-center">
     <div class="col">
       <span class="affiliate-statistic">{{affiliatedUser}}</span><br>
       Rekruten
     </div>
     <div class="col">
       <span class="affiliate-statistic">{{affiliatedCases}}</span><br>
       Geöffnete Kisten
     </div>
     <div class="col">
       <span class="affiliate-statistic">{{affiliatedEarned | currency:'USD'}}</span><br>
       Verdienst
     </div>
   </div>
   <hr>
   <p class="text-muted text-center">Achtung: Du kannst nur einmal einen Affiliates Code erstellen!</p>
   <div class="input-group" *ngIf="affiliateKey">
     <input type="text" class="form-control" value="{{affiliateKey}}" aria-label="Dein Affiliates Code" *ngIf="affiliateKey" disabled>
     <div class="input-group-append">
       <button class="btn" ngxClipboard [cbContent]="affiliateKey" (cbOnSuccess)="isCopied = true" [class.btn-info]="!isCopied" [class.btn-success]="isCopied">Kopieren</button>
     </div>
   </div>
   <div class="input-group" *ngIf="!affiliateKey">
     <input type="text" class="form-control" placeholder="WAX User ID" aria-label="WAX User ID" #waxUserId>
     <input type="text" class="form-control" placeholder="Wunsch Affiliates Code" aria-label="Wunsch Affiliates Code" #affiliatesCode>
     <div class="input-group-append">
       <button class="btn btn-primary" (click)="saveAffiliatesCode(waxUserId.value, affiliatesCode.value)">Speichern</button>
     </div>
   </div>
   <p class="text-muted" *ngIf="!affiliateKey">Deine "WAX User ID" findest du <a href="https://trade.opskins.com/settings#userId" target="_blank">hier</a></p>
   <hr>
   <h6 class="text-center" *ngIf="affiliatedByCode">Rekrutiert von</h6>
   <div class="input-group" *ngIf="affiliatedByCode">
     <input type="text" class="form-control" value="{{affiliatedByCode}}" aria-label="Rekrutiert von" disabled>
   </div>
   <h6 class="text-center" *ngIf="!affiliatedByCode">Gib hier den Code eines anderen Benutzers ein</h6>
   <div class="input-group" *ngIf="!affiliatedByCode">
     <input type="text" class="form-control" placeholder="Affiliates Code" aria-label="Affiliates Code" #recruitCode>
     <div class="input-group-append">
       <button class="btn btn-primary" (click)="saveRecruitCode(recruitCode.value)">Speichern</button>
     </div>
   </div>

</div>
