<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="box-shadow: 0 0 25px 0 rgba(0,0,0,.85); padding: 1rem 1rem; z-index: 999;">
   <a class="navbar-brand" [routerLink]="['/']">vCase.site</a>  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">    <span class="navbar-toggler-icon"></span>  </button>
   <div class="container">
      <div class="navbar-collapse collapse" id="mainNavbar">
         <ul class="navbar-nav">
           <li class="nav-item dropdown" *ngIf="authenticated">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{avatar}}" alt="avatar" class="user-avatar"> {{username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" (click)="logout()">Ausloggen</a>
              </div>
           </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"><i class="ti-briefcase"></i> Kisten</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://trade.opskins.com/" target="_blank"><i class="ti-bag"></i> Inventar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pointer" (click)="openAffiliate()"><i class="ti-bolt"></i> Affiliates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/vCaseDotSite" target="_blank"><i class="ti-twitter"></i> Twitter</a>
            </li>
         </ul>
         <ul class="navbar-nav ml-auto" *ngIf="authenticated">
            <li class="nav-item">
              <div class="keycount pointer" (click)="getKeyAmount()">{{ keyCount }} Keys</div>
            </li>
            <li class="nav-item">
              <a role="button" class="btn btn-outline-info btn-sm" href="https://opskins.com/?app=1912_1&loc=shop_search&sort=lh&type=key" target="_blank">Kaufe mehr vKeys</a>
            </li>
         </ul>
         <ul class="navbar-nav ml-auto" *ngIf="!authenticated">
            <li class="nav-item">
              <a class="nav-link" href="/auth">Einloggen via Steam</a>
            </li>
         </ul>
      </div>
   </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 px-0 hide-on-mobile">
      <div class="card text-white bg-primary" style="z-index: 99;">
        <div class="card-header">
          <h5 class="text-white">Statistik</h5>
        </div>
         <div class="card-footer">
           <div class="stat">Benutzer online:<span class="stat-pill float-right">{{usersOnline}}</span></div>
           <div class="stat">Kisten geöffnet:<span class="stat-pill float-right">{{totalCasesOpened}}</span></div>
           <div class="stat">Wert der Skins:<span class="stat-pill float-right">{{skinsValue | currency:'USD'}}</span></div>
           <hr>
           <div class="text-center">Dein aktuelles Level ist: Level {{ level }}</div>
           <div class="progress" style="height: 5px; margin-top: 10px; margin-bottom:10px">
              <div class="progress-bar bg-info" role="progressbar" [style.width]="getProgression()" aria-valuemin="0" aria-valuemax="100"></div>
           </div>
           <div class="text-center text-muted">Level erhältst du durch das Öffnen von Kisten</div>
         </div>
      </div>

      <div class="card bg-primary text-center">
         <div class="card-body" style="min-height: calc(100vh - 330px); padding: 3px">
           <ul class="list-group">
             <li class="list-group-item d-flex justify-content-between align-items-center bg-primary text-white" *ngFor="let unboxing of recentUnboxings" [style.border-left]="convertToHex(unboxing.color)" style="margin-bottom: 5px;">
               <img class="item-image" src="{{unboxing.image['300px']}}" alt="{{unboxing.itemName}}">
               <span class="item-name price_anim">{{unboxing.itemName}}</span>
               <span class="item-price price_anim">{{unboxing.price | currency:'USD'}}</span>
               <span class="item-time price_anim">{{unboxing.time | date:'HH:mm'}}</span>
             </li>
           </ul>
         </div>
         <!-- card body -->
      </div>
    </div>
    <div class="col-xl-8 chat-height" style="margin-top: 20px;">
        <ngbd-alert></ngbd-alert>
        <router-outlet></router-outlet>
    </div>
    <div class="col-xl-2 px-0">
      <div class="chat bg-primary" height="100vh">
         <div class="chat-height">
            <div class="chat-content">
               <span class="chat-item" *ngFor="let chat of messages">
                  <!--<span class="chat_mod" *ngIf="chat.is_chat_mod">
                  <i class="ti-na chat_icon" (click)="todo()" alt="Ban"></i>
                  <i class="ti-time chat_icon" (click)="todo()" alt="Timeout"></i>
                  <i class="ti-trash chat_icon" (click)="todo()" alt="Nachricht löschen"></i>
                   </span>-->
                   <div class="row">
                     <div class="col-2">
                       <img alt="User Avatar" class="chat-avatar" src="{{chat.avatar}}">
                     </div>
                     <div class="col">
                       <!--<i class="{{chat.status}} status_icon"></i>-->
                       <span class="chat_level">[Level {{chat.level}}] </span>
                       <span class="chat_username">{{chat.username}}</span>
                       <span class="chat_timestamp">{{chat.time | date:'HH:mm' }}</span>
                       <br>
                       <span class="chat_message">{{chat.message}}</span>
                     </div>
                   </div>
               </span>
            </div>
            <div class="chat-input">
               <button role="button" class="btn btn-outline-secondary btn-block" *ngIf="!authenticated" (click)="auth()">Bitte einloggen</button>
               <div class="input-group" *ngIf="authenticated">
                 <input type="text" class="form-control" aria-label="Chat Text" aria-describedby="Chat Text" placeholder="Chateingabe" [(ngModel)]="chat_input" #cinput (keyup.enter)="sendToChat(cinput.value)">
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>
