@media (max-width: 1200px)
{
  .hide-on-mobile
  {
    display: none;
  }
}

.scrollable {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.stat {
  margin-bottom: 10px;
}

.stat-pill {
  background-color: rgba(255,255,255,.075);
  padding: .25em 1em .25em 1em;
  border-radius: 5px;
  font-size: 90%;
  font-weight: 700;
}

.user-avatar
{
  position: absolute;
  bottom: 5px;
  left: -35px;
  border-radius: 50%;
  padding-top: 0;
  padding-bottom: 0;
}

.keycount {
  display: flex;
  align-items: center;
  height: 35px;
  background-color: #1F9BCF;
  color: #fff;
  padding: 0px 20px;
  font-size: 0.8rem;
}

.main-content
{
  padding-left: 20px;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat
{
  box-shadow: 5px 0 20px 0 rgba(0,0,0,.5);
}

.chat-height
{
  height: calc(100vh - 70px);
  overflow-y: hidden !important;
}

.chat-input
{
  padding: 15px 4px 15px 4px;
}

.chat-content
{
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 145px);
}

.chat-avatar
{
  height: 40px;
  border-radius: 5px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 2px;
}

.chat_timestamp
{
  margin-top: 2px;
  margin-right: 5px;
  float: right;
  font-size: 12px;
}

.chat_icon
{
  margin-right: 4px;
  font-size: 15px;
  cursor: pointer;
}

.status_icon
{
  font-size: 16px;
  line-height: 4px;
  margin-right: 6px;
}

.chat-content .chat-item
{
  padding: 8px 6px 6px 6px;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
  min-height: 28px;
  overflow-wrap: break-word;
  vertical-align: middle !important;
  border-bottom: 4px solid #000;
  background: #1a1a1a;
  letter-spacing: 0px;
}

/* Scrollable Last Items */
.items-opened-group > .row
{
  overflow-y: scroll;
  overflow-x: hidden;
}

.items-opened-group > .row > .col-12
{
  display: inline-block;
  float: none;
}

.item-name {
  font-weight: 500;
  position: absolute;
  left: 125px;
  bottom: 40px;
}

.item-image {
  width: 100px;
  position: relative;
  left: -15px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: image_ani 0.4s ease forwards;
  animation: image_ani 0.4s ease forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes image_ani
{
  100%
  {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100%
  {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes image_ani
{
  100%
  {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100%
  {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.item-price
{
  font-weight: 500;
  position: absolute;
  left: 125px;
  bottom: 20px;
}

.item-time
{
  font-weight: 500;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
