<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">
    <span class="badge badge-pill badge-{{alert.type}}">Info</span> {{ alert.message }}
  </ngb-alert>
</p>
