<div class="opening_area">
   <ul class="nav nav-pills nav-fill">
     <li class="nav-item" style="margin-left: 2rem;">
       <a class="nav-link active" data-toggle="tab" href="#availableCases">Verfügbare Kisten</a>
     </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cases" (click)="getUserCasesToOpen()">Kisten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#offers" (click)="getUserOffers()">Handelsangebote</a>
      </li>
   </ul>
   <div class="tab-content">
     <div class="tab-pane fade show active" id="availableCases">
       <div class="pre-spinner" *ngIf="casesLoading">
         <div class="pre-ball"></div>
         <p class="preloader">Lade</p>
       </div>
       <div class="row mt-4" *ngIf="!casesLoading">
          <div class="col-md-3" *ngFor="let case of cases">
             <div class="card text-white bg-primary case-card text-center" style="margin-bottom: 20px;">
                <div class="card-header">{{case.name}}</div>
                <div class="card-body">
                   <img class="card-img-top img-animation pointer" style="width: 70%; height: auto;" src="{{ case.image['300px'] }}" alt="{{case.name}}" (click)="itemsInside(case.skus)" >
                   <div class="card-footer">
                     <div class="input-group input-group-sm" *ngIf="authenticated" style="transform: translate(0, 15px)">
                        <input type="text" class="form-control" placeholder="vKeys" aria-label="vKeys" value="{{minkeys}}" #keys>
                        <div class="input-group-append">
                          <span class="input-group-text btn btn-primary" (click)="initCaseOpening(case.id, keys.value, case.name)">Öffnen</span>
                        </div>
                     </div>
                     <button type="button" class="btn btn-outline-secondary btn-block" (click)="auth()" *ngIf="!authenticated">Bitte einloggen</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
     </div>
     <!-- tab-pane end -->
      <div class="tab-pane fade" id="cases">
         <div class="mt-5 text-center" *ngIf="!authenticated || !checkCasesToOpen()">
            <i class="ti-info-alt icon-4x text-white"></i>
            <h4 class="text-white mt-3" *ngIf="!authenticated">Bitte zuerst einloggen!</h4>
            <h4 class="text-white mt-3" *ngIf="authenticated && !checkCasesToOpen()">Keine Kisten zum öffnen verfügbar</h4>
         </div>
         <table class="table table-hover" *ngIf="authenticated && checkCasesToOpen()">
            <thead class="thead-dark">
               <tr>
                  <th scope="col">Handels ID</th>
                  <th scope="col">Kiste</th>
                  <th scope="col">Menge</th>
                  <th scope="col">Datum</th>
                  <th scope="col">Status</th>
                  <th scope="col">Link</th>
               </tr>
            </thead>
            <tbody class="trade-offers">
               <tr class="table-active" *ngFor="let status of listCaseOpening">
                  <th scope="row">{{status.offerId}}</th>
                  <td>{{status.caseName}}</td>
                  <td>{{status.quantity}}</td>
                  <td>{{ status.date *1000 | date:'dd-MM-yyyy HH:mm'}}</td>
                  <td><span (click)="checkOpenStatus(status.offerId)" class="pointer" id="status_{{status.offerId}}">{{status.status}}</span></td>
                  <td><a [routerLink]="[status.openingLink]" class="text-white">Öffnen <i class="ti-share"></i></a></td>
               </tr>
            </tbody>
         </table>
      </div>
      <!-- tab pane end -->
      <div class="tab-pane fade" id="offers">
         <div class="mt-5 text-center" *ngIf="!authenticated || !checkTradeOffers()">
            <i class="ti-info-alt icon-4x text-white"></i>
            <h4 class="text-white mt-3" *ngIf="!authenticated">Bitte zuerst einloggen!</h4>
            <h4 class="text-white mt-3" *ngIf="authenticated && !checkTradeOffers()">Keine Handelsangebote</h4>
         </div>
         <table class="table table-hover" *ngIf="authenticated && checkTradeOffers()">
            <thead class="thead-dark">
               <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Kiste</th>
                  <th scope="col">Menge</th>
                  <th scope="col">Datum</th>
                  <th scope="col">Status</th>
                  <th></th>
               </tr>
            </thead>
            <tbody class="trade-offers">
               <tr class="table-active" *ngFor="let offer of offers">
                  <th scope="row">{{ offer.offerId }}</th>
                  <td>{{ offer.caseName }}</td>
                  <td>{{ offer.quantity }}</td>
                  <td>{{ offer.date * 1000 | date:'dd-MM-yyyy HH:mm' }}</td>
                  <td><span (click)="checkOfferStatus(offer.offerId)" class="pointer" id="offer_{{offer.offerId}}">{{ offer.status }}</span></td>
                  <td><a href="{{offer.link}}" class="text-white" target="_blank">Link <i class="ti-share"></i></a></td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <!-- tab-content end -->
</div>
