/* General */
.pointer
{
  cursor: pointer;
}

/* Cards */
.card-header
{
  font-weight: 500;
  text-transform: uppercase;
}

.card-body
{
  padding: .75rem !important;
}


/* Navbar in Opening Area*/
.nav-pills
{
  border-bottom: 1px solid #fff;
}

.nav-link
{
  background: #1a1a1a;
  color: #fff;
  white-space: nowrap;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.nav-link.active
{
  background-color: #f7f7f7;
  color: #1a1a1a;
}

.nav-link.active:hover
{
  background-color: #f7f7f7;
  color: #1a1a1a;
}

.nav-link:hover
{
  background-color: #f7f7f7;
  color: #1a1a1a;
}

.icon-4x
{
  font-size: 40px;
}

/* Offers Table*/
thead, tbody tr
{
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table th, .table td
{
  padding: .85rem;
}
