<div class="modal-header">
   <h4 class="modal-title">Handelsangebot</h4>
</div>
<div class="modal-body">
   <p>Wir haben dir eine Handelsanfrage gesendet! <br>Bitte akzeptiere diese um fortzufahren.</p>
</div>
<div class="modal-footer">
  <a class="btn btn-outline-dark" href="{{tradeOfferUrl}}" target="_blank" (click)="checkOfferStatus(offerId)">Zum Handelsangebot</a>
  <button class="btn btn-outline-dark" (click)="cancelOffer(offerId)">Abbruch</button>
</div>
