<div class="modal-body modal-body-itemsincase bg-primary" style="min-height: 400px">
  <div class="pre-spinner" *ngIf="!items">
    <div class="pre-ball"></div>
    <p class="preloader">Lade</p>
  </div>

   <div class="row">
      <div class="col-3 mb-3" *ngFor="let item of items">
         <div class="card text-white bg-primary card-itemsincase" [style.border]="convertToHex(item.color)">
            <img class="card-img-top" src="{{ item.image['300px'] }}" alt="{{item.name}}" style="width: 240px; transform: translate(15px)">
            <div class="card-footer">
               <h5 class="card-title">{{item.name}}</h5>
               <h6 class="card-subtitle mb-2 text-muted">
                 <span class="float-left">{{item.category}}</span>
                 <br>
                 <span class="float-left">Bis zu {{item.suggested_price | currency:'USD' }}</span>
               </h6>
            </div>
         </div>
      </div>
   </div>
</div>
